
@{
    ViewBag.Title = "Projeto Listagem";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="row clearfix">
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Erro!</strong> Mensagem de Erro.
        </div>

        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Sucesso!</strong> Mensagem de Sucesso.
        </div>


        <div class="card">
            <div class="header">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="body bg-info">
                <div class="row clearfix barra_busca" >
                    <div class="col-md-6">
                        <input class="form-control" type="text" placeholder="Nome do Projeto" />
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" type="button" title="Localizar">
                            
                            <span class="glyphicon glyphicon-search"></span> Localizar
                        </button>
                        <a href="/Projeto/Cadastro" class="btn btn-primary" type="button" title="Adicionar">
                            <span class="glyphicon glyphicon-plus-sign"></span> Adicionar
                        </a>
                    </div>
                </div>
            </div>


            <div class="body">
                <hr />
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th width="70px">#</th>
                                        <th>Projeto</th>
                                        <th>Descricao</th>
                                        <th>Centro de Custo</th>
                                        <th width="70px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Projeto 001</td>
                                        <td>Projeto 001</td>
                                        <td>001</td>
                                        <td>
                                            <button class="btn btn-xs bg-black" title="Editar">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </button>
                                            <button class="btn btn-xs btn-danger" title="Excluir" data-toggle="modal" data-target="#ModalExcluir">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Projeto 002</td>
                                        <td>Projeto 002</td>
                                        <td>002</td>
                                        <td>
                                            <button class="btn btn-xs bg-black" title="Editar">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </button>
                                            <button class="btn btn-xs btn-danger" title="Excluir" data-toggle="modal" data-target="#ModalExcluir">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


