<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoPrincipal" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1129/ServicoPrincipal.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoPrincipal"
                contract="ServicoPrincipal.IServicoPrincipal" name="BasicHttpBinding_IServicoPrincipal" />
        </client>
    </system.serviceModel>
</configuration>